button {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem 2rem;
  font-weight: 500;
  letter-spacing: 0.08em;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 0.6rem;
  background: transparent;
  transition: 0.2s linear;
}

button:hover {
  background-color: darkorange;
  border-color: darkorange;
  color: white;
  cursor: pointer;
  scale: 110%;
}
